*.aux
*.log
*.synctex.gz
draft.pdf
DSC_0316.JPG
*.toc
pres.out
*.nav
pres.snm
pres.pdf
python_scripts/images/hd_MonaLisa.jpg
python_scripts/images/hd_Pluto.png
python_scripts/images/Pluto.png
python_scripts/images/newHorizons.jpg
CDFWavelet.svg
pres.pdf
pres.pdf
4_wavelet_final[14255].pdf
*.vrb
